#contact{
    padding:50px 0;
    background-color: $site-white;
    font-family: Qsand_R;
    text-align: center;

    .header{
        font-family: Qsand_B;
        color: $site-black;
        padding-bottom: 50px;


        h1{
            display: inline-block; /* Change display to inline-block */
            margin-top: 50px;
            background: linear-gradient(
                to bottom,
                transparent 60%, 
                $site-red 80%
            );
        }
      

    }

 .contact_container{
    display: grid;
    margin: auto;
    grid-template-columns: .60fr 1fr;
    max-width: 1300px;
    // background-color: firebrick;

 .contact_text{
    margin: 20px;
    text-align: left;
    max-width: 75%;


    h2{
        font-family: Qsand_B;
    }

    .socials{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // background-color: firebrick;
        i{
            font-size: 48px;
            color: $site-black;
            transition: color .5s ease-in-out; 

        }

        i:hover{
            color: $site-red;
        }
    }
 }

 #contact_form{
    .input-wrapper, .input-wrapper-two, .messageDiv{
        display: flex;
        margin: 20px;
        max-width: 90%;
        
    .emailInput, .nameInput {
        width: 50%;
        border-radius: 8px;
        margin-right: 20px;
        padding: 10px;
        outline: none;
        }
    
    .subjectInput, .messageBox{
        margin-right: 20px;
        border-radius: 8px;
        width: 100%;
        padding: 10px;
        outline: none;
        }

        
    
}

.messageBox{
    height: 150px;
}

.contactBtn{
    display: flex;
    margin: 20px;    
    .submitContact{
            height: 40px;
            width: 150px;
            border-radius: 4px;
            color: black;
            cursor: pointer;
            background-color: $site-red;
        }

        .submitContact:hover{
            box-shadow: 0px 7px rgb(0, 0, 0, 0.2);
        }

}
}

}
}



    @media only screen and (max-width: 400px){
        .contact_text {
            display: none;
          }
          
          /* Set input tags to maximum width */
          input {
            min-width: 100%;
            box-sizing: border-box; /* Ensures padding and borders are included in the width */
          }

          .input-wrapper-two input,
          .messageDiv input {
            min-width: 210%;
          }
          
          /* Ensure proper spacing and layout for form elements on small screens */
          .input-wrapper, .input-wrapper-two, .messageDiv, .contactBtn {
            margin-bottom: 15px;
          }
     
        }
    