#content{
    height: auto;
    text-align: center;
    background-color: $site-white;
    // color: $site-black;
    font-family: Qsand_M;

    
    .header{
        font-family: Qsand_B;

        h1{
            display: inline-block; /* Change display to inline-block */
            margin-top: 50px;
            background: linear-gradient(
                to bottom,
                transparent 60%, 
                $site-red 80%
            );
        }
    }

    .project_container{
        max-width: 1300px;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: auto;
        // background-color: #e3432d;
        
    .portfolio_content{
        position: relative;
        max-width: 400px;
        height: 525px;
        margin: 15px;
        background-color: #FDFDFC;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px; 
        font-family:Qsand_R;

        .coming_soon_overlay {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.7); // Semi-transparent background
            color: #fff;
            text-align: center;
            position: absolute;
            border-radius: 20px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          
            h2 {
              font-size: 24px;
              margin-bottom: 10px;
            }
          
            p {
              font-size: 16px;
            }
          }

            img{
                width: 100%;
                min-height: 250px;
                border-radius: 20px 20px 0 0;
            }
        

        .text{
            padding: 20px;
            font-size: 14px;
            line-height: 20px;


            h3{
                text-align: start;
                font-size: 18px;
            }
        
            .project_desc{
            align-items: center;
            text-align: start;

            p{
                margin-top: 10px;
            }

            button{
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                padding: 5px;
                background-color: #d3d3d3;
                font-weight: bold;
                font-size: 11px;
                border-radius: 10px;
                border: none;
            }

            button:hover{
                transform: scale(1.1);
                transition: 1s ease;
            }
        }
            span{
                padding-top: 5px;
                font-size: 10px;
                font-weight: bold;
            }
          
            .btnGroup{
                .projectBtn {
                    min-width: 100px;
                    height: 40px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    position: relative;
                    outline: none;
                    border-radius: 5px;
                    margin: 10px;
                    z-index: 0;
                    background: #fff;
                    overflow: hidden;
                    background-color: $site-red;
                  }
                  .projectBtn:hover {
                    color: #fff;
                  }
                  .projectBtn:hover:after {
                    width: 100%;
                  }
                  .projectBtn:after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    transition: all 0.3s ease;
                    left: 0;
                    top: 0;
                    width: 0;
                    height: 100%;
                    background: #E74C3C;
                  }
                    
                
            
            }

        }
    }
}
}
 
@media only screen and (max-width: 820px){
    #content{
    height: auto;
    .project_container{
        display: block;
        padding: 0 10px;
     
    .portfolio_content{
        margin: 20px auto;
    .text{
        font-size: 12px;

        h3{
            font-size: 14px;
        }
    }

    }
        .btnGroup{

            button{
                font-size: 10px;
            }
        }

    
    }
}
}